<div class="max-w-4xl mx-auto mt-10 px-4">
    <%= render "shared/page_header", title: t('admin.users.new.title'), back_path: admin_users_path %>
    <%= render "admin/users/form", user: @user %>
</div>